﻿
@{
    ViewBag.Title = "Create Initial";
}


<h2>Create Product in</h2>

<form id="createProduct">
    <label>Name</label>
    <input id="nameTxt" type="text" name="Name" />
    <br />

    <label>Description</label>
    <input id="descTxt" type="text" name="Description" />

    <br />

    <label>Price</label>
    <input id="priceTxt" name="price"/>
    <br/>

    <button id="saveBtn" type="button">Save</button>
</form>
<script>
    $("#saveBtn").click(function () {
        //var nameText = $("#nameTxt").val();
        //var descText = $("#descTxt").val();
        //var priceText = $("#priceTxt").val();
        $.ajax({
            type: "POST",
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
</script>