﻿@model Product

@{
    ViewBag.Title = "Edit Initial";
}


<h2>Edit Product</h2>

<form id="editProduct">
    <input name="ID" type="hidden" value="@Model.ID" />
    <label>Name</label>
    <input id="nameTxt" type="text" name="Name" value="@Model.Name" />
    <br />

    <label>Description</label>
    <input id="descTxt" type="text" name="Description" value="@Model.Description" />

    <br />

    <label>Price</label>
    <input id="priceTxt" name="price" value="@Model.Price" />
    <br />

    <button id="updateBtn" type="button">Update</button>
</form>
<script>
    $("#updateBtn").click(function () {
        //var nameText = $("#nameTxt").val();
        //var descText = $("#descTxt").val();
        //var priceText = $("#priceTxt").val();
        $.ajax({
            type: "POST",
            url: '/Product/Edit',
            data: $("#editProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
</script>