﻿
@{
    ViewBag.Title = "Index";
}

<h2>Products Index</h2>
<div id="tableContainer">
    @{
        Html.RenderAction("ProductTable");
        // Html.RenderAction("Create");
    }

</div>
<div id="actionContainer">

</div>
