﻿@model List<ClothBazaar.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}

<h2>ProductTable</h2>
<div>
    <form method="post">
        <input id="searchTxt" name="search" />
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button id="newBtn">New</button>
</div>
<div>
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td></td>
                    <td>@product.Price</td>
                    <td><button class="editBtn" data-id="@product.ID">Edit</button>
                    <button class="deleteBtn" data-id="@product.ID">Delete</button></td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
         .done(function (data) {
             $("#tableContainer").html(data);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
         });
    });

    $("#newBtn").click(function () {
        $.ajax({
            type: "GET",
            url: '/Product/Create'
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest,textStatus,errorThrown) {
                alert("Fail");
            });
    });

    $(".editBtn").click(function () {
        //debugger;
        $.ajax({
            type: 'GET',
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Are U want to delete this product?");
        if (confirmDelete == true) {
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr("data-id")
                }
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
        }
       
    });
</script>