﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create category</h2>

<form method="post">
    <label>Name</label>
    <input type="text" name="Name" />
    <br/>

    <label>Description</label>
    <input type="text" name="Description" />

    <br/>

    <button id="saveBtn" type="button">Save</button>
</form>