﻿@model ClothBazaar.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete category</h2>

<h3>Do you want to delete this record?</h3>
<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button type="submit">Yes Delete</button>

</form>
<a href="/Index">Cancel</a>